/** background:#4D7C8A; **/

:root {
  --text-color: #23424b;
  --baby-blue: #a1ebf1;
}

body {
  /*
  display: flex;
  flex-direction: row;*/

  overflow-x: hidden;

  margin: 0;
  min-height: 690px;
  min-width: 650px;

  /*
  align-content: center;*/

  display: grid; 
  grid-template-columns: 80px 1.5fr 1fr; 
  grid-template-rows: 10em 1fr 100px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav-bar header header"
    "nav-bar body-content body-content"
    "nav-bar footer footer"; 

  background-color: #ffffff;
  background-image:
    linear-gradient(90deg, #ccf0ff80 40px, transparent 40px),
    linear-gradient(#ccf0ff80 40px, transparent 40px);
  background-position: 10px 10px;
  background-size: 78px 78px;
}

h1 {
  color: var(--text-color);
    font-family: "Baskerville", "Georgia", serif;
    font-style: italic;
    font-size: 5em !important;
    margin: 0;
}

h2 {
    font-size: 1.5em !important;
    color: var(--text-color);
    margin: 0;
}

/*
.container{
  display: flex;
  direction: column;
  gap: 5px;
}

.footer {
  height:100px;
  width: 100vw;
  background-color:var(--text-color);
  align-items: center;
}
*/

.footer {
  background-color:var(--text-color);
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 35px;
}


/* website-page layout */

.nav-bar { grid-area: nav-bar; }
.header { grid-area: header; }
.footer { grid-area: footer; }



/* Create page layout
.create-page-layout {
    display: grid;
    grid-template-columns: 60px 2fr 1fr;
    grid-template-rows: 60px 1fr;
    gap: 4px 6px;
    grid-template-areas:
    "nav-bar toolbar toolbar"
    "nav-bar page-drawing page-list";
}
    */


#containerPage { 

  grid-area: body-content; 

  display: grid; 
  grid-template-columns: 50% 50%; 
  grid-template-rows: 0.3fr 1.7fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "toolbar toolbar"
    "page-list page-drawing"; 
}



/*
.nav-bar {
    grid-area: nav-bar;
}
    */

.page-drawing {
    grid-area: right-pane;
    background-color: var(--snow);
}

.page-list {
    grid-area: left-pane;
    background-color: var(--snow);
    overflow-y: scroll
}

.toolbar{
    grid-area: toolbar;
    background-color: var(--baby-blue);
}


