/** background:#4D7C8A; **/

:root {
  --text-color: #23424b;
  --baby-blue: #a1ebf1;
}

html, body { min-height: 100%;}

body {
  overflow-x: hidden;

  margin: 0;
  /*
  min-height: 690px;*/
  min-height: 100vh;
  min-width: 650px;

  display: grid; 
  grid-template-columns: 80px 1.5fr 1fr; 
  grid-template-rows: 10em 1fr 100px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav-bar header header"
    "nav-bar body-content body-content"
    "nav-bar footer footer"; 

  background-color: #ffffff;
  background-image:
    linear-gradient(90deg, #ccf0ff80 40px, transparent 40px),
    linear-gradient(#ccf0ff80 40px, transparent 40px);
  background-position: 10px 10px;
  background-size: 78px 78px;
}

h1 {
  color: var(--text-color);
    font-family: "Baskerville", "Georgia", serif;
    font-style: italic;
    font-size: 5em !important;
    margin: 0;
}

h2 {
    font-size: 1.5em !important;
    color: var(--text-color);
    margin: 0;
}

.footer {
  background-color:var(--text-color);
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 35px;
}


/* website-page layout */

.nav-bar { grid-area: nav-bar; }
.header { grid-area: header; }
.footer { grid-area: footer; }
.body-content {
  grid-area: body-content;
  /*
  display: flex;
  justify-content: center;
  align-items: center;*/
  height: 100%;
  /*overflow: hidden;*/
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.main-body {
  height: 100%;
  width: 100%;
  min-width: 0;
  /*overflow-y: auto;*/
  padding-bottom: 100px;
}



/* Create page layout
.create-page-layout {
    display: grid;
    grid-template-columns: 60px 2fr 1fr;
    grid-template-rows: 60px 1fr;
    gap: 4px 6px;
    grid-template-areas:
    "nav-bar toolbar toolbar"
    "nav-bar page-drawing page-list";
}
    */


#create {

  grid-area: body-content; 

  display: grid; 
  grid-template-columns: 500px auto;
  grid-template-rows: 50px auto;
  gap: 0px 0px; 
  grid-template-areas: 
    "toolbar toolbar"
    "page-info container-page";
}

#containerPage {
    grid-area: container-page;
    background-color: var(--snow);
    align-items: center;
}

.page-info {
    grid-area: page-info;
    background-color: var(--snow);
    overflow-y: scroll
}

.toolbar{
    grid-area: toolbar;
    background-color: var(--baby-blue);
}


