nav-bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 80px;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-top: 20px;

    flex-direction: column;
    gap: 20px;

    background: #ffffff;
    border-right: 1px solid #ddd;
}

nav-bar button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease;
    border-radius: 10px;
}

nav-bar button:hover {
    background: #f5f5f5;
}

nav-bar button:active {
    background: #ddd;
}



.nav-icon {
    width: 32px;
    height: 32px;
}