:root {
    --cool-blue: #4D7C8A;
    --snow: #FCF7F8;
    --shadow-grey :#342E37;
}

#switch-modes:hover {
    cursor: pointer;
    text-decoration: underline;
}

#submit-button {
    min-width: 130px;
    height: 40px;
    color: var(--snow );
    padding: 5px 10px;
    margin: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid var(--shadow-grey );
    background: var(--shadow-grey );
}

#submit-button:hover {
    background: var(--snow );
    color: var(--shadow-grey );
    cursor: pointer;
}


#form-div {
    text-align: center;
    --borderradius: 14px;
    --bgsize: 0.38rem;
    padding: 2rem;
    border: 1px solid;
    position: relative;
    background: var(--snow);
    border-radius: var(--borderradius, 14px);
    transform: translateY(-2px);
    z-index: 2;

    &:hover {
        transform: translateY(-4px);
    }

    &::before,
    &::after {

        border-radius: var(--borderradius, 14px);
        background-image: linear-gradient(
                45deg,
                var(--snow) 33.33%,
                var(--shadow-grey) 33.33%,
                var(--shadow-grey) 50%,
                var(--snow) 50%,
                var(--snow) 83.33%,
                var(--shadow-grey) 83.33%,
                var(--shadow-grey) 100%
        );
        content: "";
        display: block;
        position: absolute;
        z-index: -2;
        top: .75rem;
        left: 0.75rem;
        width: 100%;
        height: 100%;
        background-size: var(--bgsize, 0.28rem) var(--bgsize, 0.28rem);
    }
    &::before {
        top: 0rem;
        left: 0rem;
        background: var(--snow);
        z-index: -1;
    }
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background: var(--cool-blue);
}