*
{
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", Helvetica, Arial, "sans-serif";
}


.container
{
  padding-top: 13vh;
  width: 1400px;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  
}

.page-box{
  max-width: 100%; min-width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

img:hover {
  opacity: .95;
  box-shadow: 0 0 10px #0e272f;
  cursor: pointer;
}

.caption{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
}

@media (max-width: 1427px)
{
  .container
  {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px)
{
  .container
  {
    columns: 4;
  }
}

@media (max-width: 1000px)
{
  .container
  {
    columns: 3;
  }
  
  
  body{
		overflow-x: hidden;
	}
}
  


@media (max-width: 786px)
{
  .container
  {
    columns: 2;
  }
  
  h1{
    font-size: 1.3em;
  }
  
  h2{
    font-size: 1em;
  }
}


@media (max-width: 480px)
{
  .container
  {
    columns: 1;
  }
}