*
{
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", Helvetica, Arial, "sans-serif";
}


.container
{
  /*
  padding-top: 13vh;
  width: 1400px;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  */

  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  
}

.main-body {
  width: 100%;
  min-width: 0;
}

.page-box{
  max-width: 100%; min-width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;

  display: flex;
  justify-content: center;
}

img:hover {
  opacity: .95;
  box-shadow: 0 0 10px #0e272f;
  cursor: pointer;
}

.caption{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
}
