delete-button turbo-button, edit-button turbo-button, like-button turbo-button, switch-view-button turbo-button{

     background-color: transparent;
     border: none;
    padding: 10px;
    cursor: pointer;

    align-items: center;
    justify-content: center;

    flex-grow: 0;

    transition: background 0.2s ease;
    border-radius: 10px;
}