:root {
    --cool-blue: #4D7C8A;
    --snow: #FCF7F8;
    --shadow-grey :#342E37;
    --light-border: #bababa;
    --blue-slate: #19647E
}

.textured-page {
    background-image: url("../../public/assets/pageTexture.jpg");
    border: 2px solid var(--light-border );
    height: 500px;
    width: 400px;
}

page-elt.page-visual{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 504px;
    width: 404px;
}


