:root {
    --cool-blue: #4D7C8A;
    --snow: #FCF7F8;
    --shadow-grey :#342E37;
}

page-elt {
    min-height: 400px;
    min-width: 600px;
    padding: 50px;
    border: 2px solid var(--shadow-grey );
    background-color: var(--snow);
}

.textured-page {
    background-image: url("../../public/assets/pageTexture.jpg");
    min-height: 500px;
    min-width: 400px;
    max-height: 500px;
    max-width: 400px;
}