:root {
    --cool-blue: #4D7C8A;
    --snow: #FCF7F8;
    --shadow-grey :#342E37;
    --light-border: #bababa;
    --blue-slate: #19647E
}

.textured-page {
    background-image: url("../../public/assets/pageTexture.jpg");
    border: 2px solid var(--light-border );
    width: 400px;
    height: 500px;
    /*aspect-ratio: 4/5;*/
}

page-elt.page-visual{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 404px;
    height: 504px;
    /*aspect-ratio: 4/5;*/
}

.page-box {
  max-width: 100%;
  min-width: 100%;

  display: flex;
  justify-content: center;
}

