:root {
    --cool-blue: #4D7C8A;
    --snow: #FCF7F8;
    --shadow-grey :#342E37;
    --light-border: #bababa;
}

.textured-page {
    background-image: url("../../public/assets/pageTexture.jpg");
    border: 2px solid var(--light-border );
    min-height: 500px;
    min-width: 400px;
}