:root {
    --cool-blue: #4D7C8A;
    --cooler-blue: #23424b;
    --snow: #FCF7F8;
    --shadow-grey :#342E37;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;

    margin: 0;
    padding: 0;

    /*align-content: center;*/

    background-color: #ffffff;
    background-image:
        linear-gradient(90deg, #ccf0ff80 40px, transparent 40px),
        linear-gradient(#ccf0ff80 40px, transparent 40px);
    background-position: 10px 10px;
    background-size: 78px 78px;
}

h1 {
    color: var(--cooler-blue);
    font-family: "Baskerville", "Georgia", serif;
    font-style: italic;
    font-size: 5em !important;
    margin: 0;
}

h2 {
    font-size: 1.5em !important;
    color: var(--cooler-blue);
    margin: 0;
}

p {
    color: var(--cooler-blue);
}

#logout-el {
    cursor: pointer;
    text-decoration: underline;
}


.container{
    display: flex;
    direction: column;
    gap: 5px;
}

.posts-container{
    display: grid;
    place-content: center;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    

    height: 10em;
    padding-left:150px;
    padding-top: 2em;

    width:100%;

    margin-top: 0px;

    background-color: var(--snow);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-list-div{text-align: left;
    background-color: var(--snow);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 50px;
    border:solid;
    border-width: 2px;
    border-color: var(--cooler-blue);
    display: grid;
    width: 800px;
    /* height: 50px; */
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:25px;
}