#mode-btn{
    min-width: 130px;
    height:40px;
    color: var(--snow );
    align-content: center;
    margin: 1em;
padding: 0 0 10px 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid var(--shadow-grey );
    background: var(--shadow-grey );
}

#mode-btn:hover {
    background: var(--snow );
    color: var(--shadow-grey );
}