#mode-btn{
    height:40px;
    color: var(--snow );
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 20px;
    border: 2px solid var(--shadow-grey );
    background: var(--shadow-grey );
}

#mode-btn:hover {
    background: var(--snow );
    color: var(--shadow-grey );
}

